<ion-header>
  <ion-navbar hideBackButton color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Movies</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addMovie()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="movies">
    <ion-item *ngFor="let movie of movies">
      <strong>{{movie.title}}</strong>
      <button ion-button clear item-end (tap)="detailMovie(movie)">View</button>
    </ion-item>
  </ion-list>  
</ion-content> 
